*{
  scroll-behavior:smooth;
  box-sizing:border-box;
  margin:0;
  border:0;
}
body{
font-family:sans-serif;
overflow:auto;
background-color:#def0cb;
font-family:Georgia;
}
header{
  position:fixed;
  width:100%;  
  background-color:#999de2;
  height:80px;
  z-index:20;
  display:flex;
  flex-direction: row;
  justify-content:space-between;
  align-items:center;
}
nav{
  display:flex;
  flex-direction: row;
  justify-content:flex-end;
  align-items:center;
  font-weight:bold;
}

.title{
margin-left:2vw;
font-size:1.4rem;
color:rgb(81, 81, 9);
font-family:Victorian;
}
nav p{
  padding-left:0.5vw;
  padding-right:2vw;
  font-family:Georgia;
  font-size:1.3rem;
}
.by{
font-size:0.9rem;
}
header a{
  color:#0c144d;
}
header a:hover{
  color:white;
  font-size:1.4rem;
}
#go:hover{
  text-transform:uppercase;
}


.watch-section{
  height:100vh;
  background:linear-gradient(60deg, #a097dc 0%, #a2c3d6 50%,#a097dc 100%);
  z-index:20;
  position:relative;
}
.watch-section > *{
  filter:none;
}
.watch-section-title{
  text-align:center;
  position:relative;
  top:6vh;
  font-size:2rem;
  
}










.square-container{
  position:absolute;
  top:25%;
  width:90vw;
  left:5%;
  height:70%;
  border:5px solid black;
}

.square{
  position:absolute;
  height:2vw;
  width:2vw;
  border:2px solid black;
  animation:up-n-down 5s linear infinite;
  background-color:yellow;
}
@keyframes up-n-down{
  0%{
    top:0%;
  }
  50%{
    top:calc(100% - 2vw);
  }
  100%{
    top:0%;
  }
}
.input{
  position:absolute;
  top:17.5%;
  left:36%;
  color:red;
  font-size:1.2rem;
}
.input-value,.add,.stop{
  border-radius:30px;
  border:0.5px solid black;
}
.add{
  background-color:green;
  text-transform:uppercase;
}
.stop{
  background-color:red;
  text-transform:uppercase;
}



.new-container{
  position:absolute;
  top:20%;
  width:90vw;
  left:5%;
  height:70%;
  border:5px solid #5b0a6b;
  border-radius:10px;
}

.new-container p{
  text-align:justify;
  margin:8vh 7vw 0 7vw;
}

.images-animation{
  width:100%;
  height:40%;
  border:2px solid #5b0a6b;
  border-radius:5px 5px 0 0;
  position:absolute;
  z-index:-1;
}

.images-animation img{
  object-fit:cover;
  height:100%;
  margin-right:-3.4px;
  position:relative;
  z-index:-1;
  border-right:0.7px solid #5b0a6b;
}
.images-animation img:nth-last-of-type(1){
  border-radius:0 5px 0 0;
}
.images-animation img:first-of-type{
  border-radius:5px 0 0 0;
}

.end-image{
  width:120px;
}
.open-menu{
  margin-top:57vh;
  margin-left:7vw;
  border-radius:20px;
  background-color:#0c144d;
  border:2px solid white;
  color:white;
  text-transform:uppercase;
  width:100px;
  height:40px;
}












#bac{
  background-color:#4c4844;
  height:40vh;
  width:100%;
  display:flex;
  flex-direction:row;
  flex-wrap:wrap;
  justify-content:space-evenly;
  align-items:center;
  }
  #bac img{
    width:4vw; 
    border:3px solid black;
    border-radius:80%;
    object-fit:cover;
  }
  
  #bac div{
  text-align:center;}
  
  ol{text-align:justify;
  }
  .terms p{font-size:1.5rem;}
  #bac a{ color:black;}
  #bac a:visited{ color:#f5edd9;}
  #bac a:hover{ color:#f5edd9;
  animation:link 2s ease-in-out 1;}
  @keyframes link{
    40%{letter-spacing:3px;}
    50%{
      font-size:1.5rem;
     }
  }
  a{
    text-decoration:none;
  }