*{
  scroll-behavior:smooth;
  box-sizing:border-box;
  margin:0;
  border:0;
}
body{
font-family:sans-serif;
overflow:auto;
background-color:#f5edd9;
}
header{
  position:fixed;
  width:100%;  
  background-color:#fcc186;
  height:80px;
  z-index:20;
  display:flex;
  justify-content:space-between;
  align-items:center;
  font-family:Victorian;
}
header a{
   color:#41547e;}

header a:hover{ color:white;}

nav{
  font-weight:bold;
  font-size:1.7rem;
  display:flex;
  flex-direction:row;
  justify-content:flex-end;
}
.title{
margin-left:2vw;
font-size:1.9rem;
color:#58231a;
}
nav p{
  padding-left:2vw;
  padding-right:4vw;
}
.by{
font-size:0.9rem;
}
#background1{
height:100vh; width:100%;
}
#background1 img{
object-fit:cover;
height:100vh; width:100%;
}
#description h3{
margin-top:2vw;
margin-bottom:1vw;
}
#description h1{
margin-bottom:1vw;
}
#description p{
margin-bottom:1vw;
}
#description{
 width:80%;
height:90vh;
 padding-top:15vh;
 margin:auto;
 text-align:justify;
}
hr{
border:10px solid transparent;
height:2vw;
border-radius:30px;
background-color:#f1d89e;
width:30%;
margin:auto;
margin-top:2vw;
}
a{text-decoration:none;}
#albums1{
text-align:center;
width:60%;
overflow: auto;
margin:-7vh auto 0 auto;
position:relative;
height:auto;
overflow:hidden;
}
#alb{
border-bottom:0.5px solid black;
height:30vh;
position:relative;
}

#alb:hover{
animation:transform 10s linear infinite;
}
#albums1:hover #alb:not(:hover){
  filter: blur(5px);
}
@keyframes transform{
  10%{
   transform:scale(1.1);
}
0%{z-index:5;
}
100%{z-index:5;
}
}
#alb img{
width:100%;
height:100%;
object-fit:cover;
}
#alb p{
z-index:10;
position:absolute;
left:1%;
right:1%;
letter-spacing:2px;
}
.two{
top:30%;
color:#3d3aa8;
font-size:4rem;
font-weight:800;
font-family:Bahnschrift Semibold;
-webkit-text-stroke:1px black;
text-shadow: 0px 4px 4px #282828;
}
.three{
top:30%;
color:white;
font-size:4rem;
font-weight:800;
font-family:Sylfaen;
-webkit-text-stroke:1px black;
text-shadow: 0px 4px 4px #282828;
}
.four{
top:30%;
color:#f4f77f;
font-size:4rem;
font-weight:800;
font-family:Calibri;
-webkit-text-stroke:1px black;
text-shadow: 0px 4px 4px #282828;
}
.five{
top:30%;
color:#3c99ad;
font-size:4rem;
font-weight:800;
font-family:NSimSun;
-webkit-text-stroke:1px black;
text-shadow: 0px 4px 4px #282828;
}
.six{
top:30%;
color:#6b9e4a;
font-size:4rem;
font-weight:200;
font-family:Arial;
-webkit-text-stroke:1px black;
text-shadow: 0px 4px 4px #282828;
}
.seven{
color:#f1399d;
font-size:4rem;
font-family:Century;
-webkit-text-stroke:1px black;
text-shadow: 0px 4px 4px #282828;
top:10%;
}
.eight{
top:30%;
color:#d3b492;
font-size:4rem;
font-weight:800;
font-family:Candara;
-webkit-text-stroke:1px black;
text-shadow: 0px 4px 4px #282828;
}
.nine{
top:10%;
color:#366de3;
font-size:4rem;
font-family:Corbel;
-webkit-text-stroke:1px black;
text-shadow: 0px 4px 4px #282828;
}
#bac{
background-color:#4c4844;
height:40vh;
width:100%;
margin-top:5vh;
display:flex;
flex-direction:row;
flex-wrap:wrap;
justify-content:space-evenly;
align-items:center;
}
#bac img{
  width:4vw; 
  border:3px solid black;
  border-radius:80%;
object-fit:cover;}
#bac div{text-align:center;}
ol{text-align:justify;}
.terms p{font-size:1.5rem;}
#bac a{ color:black;}
#bac a:visited{ color:#f5edd9;}
#bac a:hover{ color:#f5edd9;
animation:link 2s ease-in-out 1;}
@keyframes link{
  40%{letter-spacing:3px;}
  50%{
    font-size:1.5rem;
   }
}
   

